/* card.module.css */

.cardContainer {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    width: 200px; /* Ancho fijo para todas las tarjetas */
    height: 200px;
    text-align: center;
    
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .cardTitle {
    margin-bottom: 5px;
    font-size: 1.0rem; /* Tamaño del texto para el título */
  }
  
  .cardImage {
    max-width: 100%;
    border-radius: 8px;
    border: 0.5px solid #000000; /* Agregar borde a la imagen */
    
    width: 90%; /* Ajusta el ancho al 100% del contenedor */
    height: 100px;
    object-fit: fill; /* Ajusta el tamaño manteniendo la relación de aspecto */
  }
  
  .cardContinent {
    font-style: italic;
    color: #666;
    font-size: 1rem; /* Tamaño del texto para el continente */
  }
  
  .cardFront,
  .cardBack {
    position: absolute;
    width: 90%;
    height: 90%;
    backface-visibility: hidden;
  }
  
  .cardBack {
    transform: rotateY(180deg);
    background-color: rgb(0, 41, 74); /* Fondo negro para la parte trasera de la tarjeta */
    color: white; /* Texto blanco para contrastar con el fondo oscuro */
    font-size: 0.8rem; 
    text-align: center;
    border-radius: 8px;
    
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  