/* card.module.css */

.cardContainer {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  width: 200px; 
  height: 230px;
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.cardName {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
}

.cardTitle {
  margin-bottom: 5px;
}

.cardImage {
  max-width: 100%;
  border-radius: 8px;
  border: 0.5px solid #000000; 
  width: 90%; 
  height: 100px;
  object-fit: fill; 
}

.cardContinent {
  color: #666;
  font-size: 16px; 
}

.cardFront,
.cardBack {
  position: absolute;
  width: 90%;
  height: 90%;
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
  background-color: rgb(238,238,238); 
  color: black; 
  font-size: 12px;
  text-align: center;
  border-radius: 8px;
}

.flipped {
  transform: rotateY(180deg);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.info {
  font-size: 10px; 
  color: blue;
}
