.landing-page {
  width: 100%;
  height: 100vh;
  margin: 0; /* Asegúrate de que no haya márgenes */
  padding: 0; /* Asegúrate de que no haya relleno */
  border: 0; /* Asegúrate de que no haya bordes */
  background-image: url("../../assets/mundo.png");
  background-size: 600px 600px;
  background-position: left center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Otros estilos personalizados, como colores de texto, márgenes, etc. */
}
.heading {
  color: #333; /* Color de texto */
  font-size: 40px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente (negrita) */
  text-align: center; /* Alineación del texto */
}

/* Estilo para el botón */
.nav-button {
  background-color: navy; /* Fondo azul marino */
  color: white; /* Color de texto del botón */
  padding: 10px 20px; /* Relleno del botón */
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Cambiar el color del botón al pasar el cursor por encima */
.nav-button:hover {
  background-color: #001f3f; /* Color de fondo más oscuro al pasar el cursor */
}
