.landing-page {
  text-align: center;
}

.images-container {
  position: relative;
  display: inline-block;
}

.paises-image {
  width: 60%;
  height: auto;
}

.mundo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mundo-image {
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.center-button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  background-color: rgb(13, 0, 70); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-button:hover {
  color: #000000;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mundo-image {
  width: 60%; 
  height: auto;
  animation: rotate 30s linear infinite; 
}